



<h1> Delete Product </h1>
<form method="POST">
    <input type="number" placeholder="Enter Product Id" class="form-control" name="productId" />
    <button class="btn btn-primary"> Delete </button>
</form>



<h1> @ViewBag.deleteResult</h1>