


<h1> Transfer Funds </h1>
<input type="number" placeholder="from account" class="form-control" /> <br/>
<input type="number" placeholder="from account" class="form-control" /> <br/>
<input type="button" class="btn btn-primary" value="transfer"/>