


<h1 style="text-align:center"> Calculations </h1>

<form method="POST">
    <input type="number" 
            placeholder="enter first number" 
            class="form-control" name="num1"/>

    <input type="number"
        placeholder="enter first number"
        class="form-control" name="num2"/>
    <button class="btn btn-warning"> Calculate  </button>
</form>

<div>
    <h3>Addition is : @ViewBag.add </h3>
    <h3>Subtraction is : @ViewBag.sub </h3>
    <h3>Multiplication is : @ViewBag.mul </h3>
    <h3>Division is: @ViewBag.div </h3>

</div>